@{
    Layout = "_DataTableLayout";

}
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="usersTable" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        var dataTable;

        $(document).ready(function () {
            LoadDataTable();
        });

        function LoadDataTable() {
            dataTable = $("#usersTable").DataTable({
                pageLength: 8,
                "ajax": {
                    "processing": true,
                    "url": "/users/GetUsers",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },

                "columns": [
                    { "data": "firstName", "autoWidth": true },
                    { "data": "lastName", "autoWidth": true },
                    { "data": "userName", "autoWidth": true },
                    { "data": "email", "autoWidth": true },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `<div class="text-center btn-group">
                                        <a onclick=Delete("api/book/users/${data}") class='btn btn-danger btn-lg' style="cursor: pointer">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                                    </div>`;
                        }
                    }
                ]
            });
        }


        function Delete(url) {

            swal({
                title: "Are you sure you want to delete this user?",
                text: "You will not be able to restore the user!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                closeOnConfirm: true
            },
                function () {

                    $.ajax({
                        type: "DELETE",
                        url: url,
                        success: function (data) {
                            if (data.success) {
                                dataTable.ajax.reload(null, false);
                                toastr.success(data.message);
                            } else {
                                alert(data.message);
                            }
                        }
                    });
                });
        }
    </script>
}

