@{
    Layout = "_DataTableLayout";

}
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="tableData" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        var dataTable;

        $(document).ready(function () {
            LoadDataTable();
        });

        function LoadDataTable() {
            dataTable = $("#tableData").DataTable({
                pageLength: 8,
                "ajax": {
                    "url": "/api/book",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },

                "columns": [
                    { "data": "title", "name": "title", "autoWidth": true },
                    { "data": "author.firstName", "name": "author", "autoWidth": true },
                    {
                        "data": { isAvailable: "isAvailable", id: "id" },
                        "render": function (data, row) {
                            return `<div class="text-center">
                                                                    <a onclick=BorrowOrReturn("/api/book/borrowBook/${data.id}") class='btn ${data.isAvailable ? 'btn-success' : 'btn-danger isDisabled'}'>
                                                                        Borrow
                                                                    </a>
                                                                </div>
                                                                `;
                        }
                    },
                    {
                        "data": { isAvailable: "isAvailable", id: "id" },
                        "render": function (data, row) {
                            return `<div class="text-center">
                                                                    <a onclick=BorrowOrReturn("/api/book/returnBook/${data.id}") class='btn ${!data.isAvailable ? 'btn-success' : 'btn-danger isDisabled'}'>
                                                                        Return
                                                                    </a>
                                                                </div>
                                                                `;
                        }
                    }
                ]
            });
        }


        function BorrowOrReturn(url) {
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    if (data.success) {
                        dataTable.ajax.reload();
                    } else {
                        alert("error");
                    }
                }
            });
        }
    </script>
}

