@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using Library.Utility

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<nav class="navbar navbar-expand-sm navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <partial name="_LoginPartial" />

            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                @if (User.IsInRole($"{AppConstants.AdminUser}") || User.IsInRole($"{AppConstants.RegularUser}"))
                {

                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authors" asp-action="Index">Authors</a>
                        </li>
                    }


                    <li style="color: black">
                        <a asp-controller="Books" asp-action="BorrowBooks" class="nav-link text-dark">
                            @{
                                var count = HttpContextAccessor.HttpContext.Session.RetrieveFromSession<List<int>>(AppConstants.ShoppingCart)?.Count() ?? 0;
                            }
                            <i class="fas fa-book"></i> <span class="text-danger" id="books">@count</span>
                        </a>
                    </li>

                }

                @if (User.IsInRole($"{AppConstants.AdminUser}"))

                {

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="UsersWithRoles">Roles</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="BorrowedBooks">Borrowed Books</a>
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>
