

<div class="d-flex align-items-center justify-content-center"
     page-model="@Model.PageModel"
     asp-action="@ViewData["Action"]"
     page-class="btn border mr-2"
     page-class-normal="btn btn-light"
     page-class-selected="active btn btn-info">

</div>