

<div style="width: 40%"
     class="btn-group d-flex align-items-center justify-content-center"
     page-model="@Model.PageModel"
     asp-action="@ViewData["Action"]"
     page-class="btn border btn-sm buttonWidth"
     page-class-normal="btn btn-light"
     page-class-selected="active btn btn-info">

</div>